$primary-font: "Poppins", sans-serif;
$secondary-font: "Nunito Sans", sans-serif;

$primary-color: #f48c06;
$secondary-color: #2f327d;
$third-color: #65daff;

$gray: #464646;
$gray-light: #696984;
$gray-lighter: #b2b3cf;

$blue: #2f327d;
$light-blue: #525596;
$dark-blue: #252641;
